{% extends 'nav.html' %}
{% load static %}
{% block content %}
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="{% static 'img/ac1.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Nosotros</h2>
                     <p>En AirDC, nos apasiona mantener tu experiencia de conducción fresca y confortable, sin importar las condiciones climáticas. Somos una empresa líder en la venta en línea de aires acondicionados automotrices, comprometidos con ofrecer productos de alta calidad y soluciones de climatización eficientes para tu vehículo.
                        En AirDC, creemos que la comodidad en la carretera es esencial para una experiencia de conducción placentera. Únete a nuestra comunidad de clientes satisfechos y descubre cómo podemos mejorar tu viaje con sistemas de aire acondicionado automotrices de primera clase.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
{% endblock %}