{% extends 'nav.html' %}

{% block content %}
{% load static %}
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active" style="height: 550px; background-image:url(../static/img/f.jpg); background-repeat: no-repeat; background-size:cover">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <br>
                           <br>
                           <br>  
                           <br>
                           <h1> <span class="blu">AirDC <br></span>refresca tu viaje</h1>
                           <figure><img src="{% static 'img/faviconcyan.png' %}" alt="#"/></figure>
                           <a class="read_more" href="#">Productos</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="height: 500px; background-image:url(../static/img/f1.jpg); background-repeat: no-repeat; background-size:cover">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                         <h1> <span class="bla">AirDC <br></span>refresca tu viaje</h1>
                         <figure><img src="{% static 'img/faviconblack.png' %}" alt="#"/></figure>
                         <a class="read_more" href="#">Productos</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="height: 500px; background-image:url(../static/img/f3.jpg); background-repeat: no-repeat; background-size:cover">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                         <h1> <span class="blu">AirDC <br></span>refresca tu viaje</h1>
                         <figure><img src="{% static 'img/faviconcyan.png' %}" alt="#"/></figure>
                         <a class="read_more" href="#">Productos</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="{% static 'img/car-ac.avif' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Nosotros</h2>
                     <p>En AirDC, nos apasiona mantener tu experiencia de conducción fresca y confortable, sin importar las condiciones climáticas. Somos una empresa líder en la venta en línea de aires acondicionados automotrices, comprometidos con ofrecer productos de alta calidad y soluciones de climatización eficientes para tu vehículo.<br>
                      En AirDC, creemos que la comodidad en la carretera es esencial para una experiencia de conducción placentera. Únete a nuestra comunidad de clientes satisfechos y descubre cómo podemos mejorar tu viaje con sistemas de aire acondicionado automotrices de primera clase.</p>
                  </div>
                  <a class="read_more" href="#">Leer más</a>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <!-- Our  Glasses section -->
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Productos</h2>
                     <p>En AirDC, te ofrecemos una amplia selección de sistemas de aire acondicionado automotrices y componentes relacionados, diseñados para mantener tu vehículo fresco y cómodo en cualquier clima. 
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass1.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass2.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass3.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass4.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass5.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass6.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass7.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="images/glass8.png" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Leer más</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our  Glasses section -->
      <!-- Our shop section -->
      <div id="about" class="shop">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div  class="shop_img">
                     <figure><img src="images/shop_img.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7 padding_right0">
                  <div class="max_width">
                     <div class="titlepage">
                        <h2>Los mejores productos del mercado</h2>
                        <p>En AirDC, nos enorgullece ofrecer productos de calidad y soluciones de climatización confiables para tu automóvil. Explora nuestra gama de productos y encuentra la solución perfecta para mantener tu comodidad en carretera. Nuestra misión es asegurarnos de que tu viaje sea siempre fresco y agradable.                       </p>
                        <a class="read_more" href="#">Productos</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our shop section -->
      <!-- clients section -->
      <div class="clients">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Reseñas</h2>
                     <p>En AirDC creemos firmemente en nuestra capacidad para complacer las necesidades de los clientes, avalados por la propia opinión de nuestros usuarios.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="images/our.png" alt="#"/></figure>
                                          <h3>María Bernal</h3>
                                          <p>¡Increíble selección de productos! Encontré el sistema de aire acondicionado perfecto para mi automóvil en AirDC. El proceso de compra fue fácil y rápido, y la entrega llegó antes de lo esperado. Mi coche está más fresco que nunca.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="images/our.png" alt="#"/></figure>
                                          <h3>Juan Campos</h3>
                                          <p>Estoy impresionado por la atención al cliente que recibí de AirDC. Cuando tuve algunas preguntas sobre la instalación, su equipo de soporte fue extremadamente servicial y paciente. Finalmente, conseguí el compresor adecuado para mi vehículo, y mi aire acondicionado funciona como un encanto. ¡Altamente recomendado!</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="images/our.png" alt="#"/></figure>
                                          <h3>Samuel Soto</h3>
                                          <p>No puedo expresar cuánto aprecio la calidad de los productos de AirDC. Compré un filtro de aire y un evaporador, y ambos encajaron a la perfección. Mi coche se siente como nuevo, y el aire es más limpio que nunca.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class='fa fa-angle-left'></i>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class='fa fa-angle-right'></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end clients section -->
      <!-- contact section -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <h3>Contáctanos</h3>
                        </div>
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Nombre" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Número celular" type="type" name="Phone Number"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email">                          
                        </div>
                        <div class="col-md-12">
                           <input class="contactusmess" placeholder="Mensaje" type="type" Message="Name">
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Enviar</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="map_section">
               <div id="map">
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end contact section -->
{% endblock %}