{% extends 'nav.html' %}
{% block content %}
{% load static %}
<br><br><br>
      <!-- Our  Glasses section -->
      <br>
      <br>
      {% if Productico %}
      <div>{{Productico}}</div>
      {% endif %}
      
       <div class="glasses">
         <div class="container">
            <center>
               <form method="POST">
                  {% csrf_token %}

                  <!-- Buscador con bordes redondos -->
                  <input type="text" placeholder="Buscar" name="search" style="margin-top: 15px; border-radius: 10px; padding: 8px; border: 1px solid #ccc;">
              
                  <!-- Botón de enviar mejorado con bordes redondos -->
                  <button style="background-color: #7fbfff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; margin-top: 15px; border-radius: 10px;">Enviar</button>
               
               </form>
              
            </center>
            <div class="card-deck">
               {% if producto|length >= 1 %}
               {% for productos in producto %}
               {% if search %}
               <div class="col-md-6 col-lg-4 mt-4">
                  <div class="card" style="width: 23rem;">
                   <div class="card-block">
                     <img alt="Card image cap" class="card-img-top img-fluid" src="{{ productos.img_producto.url }}" />
                    </div>
                  </div>
               </div>
               <div class="search-result-container">
                   <div class="search-result" style="float: left; max-width: 500px; width: 100%;">
                       <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
                           <p style="font-size: 20px;"><b>{{ productos.nombre_producto }}</b></p>
                           <br>
                           <p style="font-size: 30px;"><b>$</b> {{ productos.precio_producto }}</p>
                           <br>
                           <p style="font-size: 10px; color: green;"><b>Envio gratis</b> a nivel nacional</p>
                           <br>
                           <p style="font-size: 10px; color: rgb(0, 66, 0);"><b>Stock disponible</b></p>
                           <a href="{% url 'carrito:agregar' producto_id=productos.id %}" class="btn btn-primary mt-2">Comprar ahora</a>
                       </div>
                   </div>
               </div>
               {% else %}
               <div class="col-md-6 col-lg-4 mt-4">
                  <div class="card" style="width: 23rem;">
                   <div class="card-block">
                     <img alt="Card image cap" class="card-img-top img-fluid" src="{{ productos.img_producto.url }}" />
                     <div class="card-body">
                        <h5 class="card-title">{{ productos.nombre_producto }}</h5>
                        <p class="card-text description" style="height:72px;">{{ productos.descript_producto }}</p>
                        <p class="card-text description" style="height:72px;"><b>Precio: </b> {{ productos.precio_producto }}</p>
                        <a href="{% url 'venta' id=productos.id %}" class="btn btn-primary mt-2">Ver</a>
                        <a href="{% url 'carrito:agregar' producto_id=productos.id %}" class="btn btn-primary mt-2">Añadir al carrito</a>
                     </div>
                    </div>
                  </div>
               </div>
           {% endif %}
           
               {% endfor %}
               {% else %}
               <div>
                  <h1>Actualmente no hay productos con este nombre</h1>
               </div>
               {% endif %}
               <div class="col-md-12">
                  
               </div>
            </div>
         </div>
      </div>
      <br>
      
      {% include 'carrito/carrito.html' %}
      <!-- end Our  Glasses section -->
      <br>
{% endblock %}